.ndt-customize-body {
    margin    : 0 !important;
    background: #E5E5E5;
    padding   : 60px 10px 15px 10px !important;
}

@mixin phan-bo-tai-san-chart {
    .phan-bo-chart-container {
        width           : 100%;
        height          : 100%;
        display         : flex;
        flex-direction  : column;
        padding         : 10px;
        background-color: #fff;
        margin-right    : 10px;

        .title-chart {
            height     : 40px;
            font-size  : 20px;
            padding    : 10px 0;
            font-weight: 600;
        }

        .content-chart {
            height : calc(100% - 40px);
            width  : 100%;
            display: flex;

            .tqts-text {
                width          : 40%;
                height         : 100%;
                padding        : 5px;
                display        : flex;
                flex-direction : column;
                justify-content: center;

                .text-child {
                    display: flex;
                    height : 15px;
                    margin : 10px 0;

                    .color-div {
                        width     : 15%;
                        background: #DFAE00
                    }
                }
            }
        }
    }
}

@mixin stock-chart {
    .stock-chart-container {
        display         : flex;
        flex-direction  : column;
        width           : 100%;
        height          : 100%;
        padding         : 10px;
        background-color: #fff;

        .stock-chart-header {
            height: 40px;

            .title-chart {
                height     : 40px;
                font-size  : 20px;
                padding    : 10px 0;
                font-weight: 600;
            }
        }

        .stock-chart-content {
            height: calc(100% - 80px);
            width : 100% !important;
        }

        .stock-chart-footer {
            height: 40px;
        }
    }
}

@mixin table-quy-mo {
    .table-quy-mo-container {
        width           : 100%;
        height          : 100%;
        display         : flex;
        flex-direction  : column;
        padding         : 0 10px;
        background-color: #fff;

        .table-quy-mo-header {
            height     : 60px;
            width      : 100%;
            font-size  : 20px;
            padding    : 10px 0;
            font-weight: 600;
        }

        .table-quy-mo-content {
            width     : 100%;
            max-height: 420px;
        }
    }
}

@mixin table-dm-uy-thac {

    .table-dm-uy-thac-container {
        width           : 100%;
        height          : 100%;
        display         : flex;
        flex-direction  : column;
        padding         : 0 10px;
        background-color: #fff;


        .table-dm-uy-thac-header {
            height     : 60px;
            width      : 100%;
            font-size  : 20px;
            padding    : 10px 0;
            font-weight: 600;
        }

        .table-dm-uy-thac-content {
            width     : 100%;
            max-height: 420px;
        }
    }
}

.overview-property-container {
    height          : 100%;
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    background-color: #EEEFF5;

    .charts {
        height : 390px;
        width  : 100%;
        display: flex;

        .content-left-c {
            padding-right: 10px;
            width        : 40%;
            @include phan-bo-tai-san-chart;
        }

        .content-right-c {
            width: 60%;
            @include stock-chart;
        }
    }

    .quy-mo {
        margin-top: 20px;
        height    : 470px;
        width     : 100%;

        @include table-quy-mo;
    }

    .dm-uy-thac {
        margin-top: 20px;
        height    : 470px;
        width     : 100%;

        @include table-dm-uy-thac;
    }
}